/* Geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Importar Trench */
@font-face {
    font-family: 'Trench';
    src: url(/fonts/trench100.ttf);
}

body {
    background-color: #121212;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.secao {
    padding: 60px 20px;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    align-items: flex-end;
}

.container--coluna {
    flex-direction: column;
}

.subtitulo,
.data,
button {
    font-size: 23px;

}

button {
    color: #fff;
    background-color: #0068a5;
    padding: 10px 30px;
    border: 3px solid #003655;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
}

button:hover {
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-top-width: 4px;
    border-left-width: 4px;
}

/* Seção Hero */

.secao-hero {
    background-image: url(https://cdn.prod.website-files.com/61b9e0dd381626819c8d4f83/660d9e60b52c66db2e67e0b4_%5BBACKGROUND%5D%20-%20BANNER%2001%20-%20WJS1.webp);
    background-position: 50%; /* Centralizar a página */
    background-size: cover; /* Preencher o plano de fundo por completo*/
}

h1 {
    font-family: Trench;
    text-align: center;
    font-size: 49px;
    line-height: 100%;
}

h1 .masterclass {
    color: #00a1ff;
}

h1 .programacao {
    font-size: 53px;
}

h1 .fullstack {
    font-size: 78px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background-color: #050505;
    box-shadow: 0 0 25px 5px #00a1ff;
    border-radius: 25px;
    padding: 30px 40px;
    max-width: 50%;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
    list-style: none;
}

li {
    display: flex;
    align-items: flex-start;
    gap: 7.5px;
}

li img {
    margin-top: 2.5px;
}

.data {
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 0 7.5px 0px #00a1ff;
    border-radius: 100px;
    padding: 5px 30px;
}

.daniel {
    max-width: 510px;
}

/* Disclaimer */

.secao-disclaimer {
    background-color: #151515;
    padding: 30px 20px;
    box-shadow: 0 3px 10px 5px #0000004d;
}

.disclaimer {
    font-size: 15px;
    color: #7c7f7f;
}